@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board-toot-otto {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: repeat(6, 50px);
  padding: 5px;
  padding: 12px;
  background-color: rgb(59 130 246);
  border: 1px solid black;
  margin: 30px;
}

.board {
  display: grid;
  padding: 12px;
  background-color: rgb(59 130 246);
  border: 1px solid black;
  margin: 20px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(59 130 246);
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}

.circle-red {
  width: 40px;
  height: 40px;
  /* background-color: rgb(73, 176, 240); */
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}
.circle-yellow {
  width: 40px;
  height: 40px;
  /* background-color: rgb(242, 194, 63); */
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}
.circle-green-colorblind {
  width: 40px;
  height: 40px;
  /* background-color: rgb(73, 176, 240); */
  background-color: rgb(21, 135, 108);
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}
.circle-yellow-colorblind {
  width: 40px;
  height: 40px;
  /* background-color: rgb(242, 194, 63); */
  background-color: rgb(255, 255, 66);
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}

.circle-white {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}

.circle-grey {
  width: 40px;
  height: 40px;
  background-color: rgba(185, 185, 185, 0.795);
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 40px;
  border: thin solid black;
  border-radius: 10px;
  text-align: center;
}

.inputdiv {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}
