@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board-toot-otto {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: repeat(6, 50px);
  padding: 5px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
  padding: 5px;
}

.cell {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: white; /* Change cell background color */
  border: 1px solid black; /* Add border to cells */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
